.text_mini {
	FONT-SIZE: 10px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000000
}
.text {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000000
}
.text_list {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000000; LINE-HEIGHT: 20px
}
.text_path {
	FONT-SIZE: 10px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000099
}
.text_box {
	FONT-SIZE: 12px; HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000000; BACKGROUND-COLOR: #ccccff
}
.title_para {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-WEIGHT: bold; COLOR: #000099
}
.title_med {
	FONT-SIZE: 14px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-WEIGHT: bold; COLOR: #000099
}
.title_big {
	FONT-SIZE: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-WEIGHT: bold; COLOR: #000099
}
.title_verybig {
	FONT-SIZE: 22px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-WEIGHT: bold; COLOR: #000099; LINE-HEIGHT: 26px
}
.price_text {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #ff0000
}
.price_med {
	FONT-SIZE: 14px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #ff0000
}
.price_big {
	FONT-SIZE: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #ff0000
}
BODY {
	FONT-SIZE: 12pt; CURSOR: default; SCROLLBAR-HIGHLIGHT-COLOR: #f3f3f3; FONT-FAMILY: Arial,Helvetica,Sans-Serif; SCROLLBAR-TRACK-COLOR: #d6d7d6; SCROLLBAR-FACE-COLOR: #f1f1f1; SCROLLBAR-3DLIGHT-COLOR: #999999; SCROLLBAR-ARROW-COLOR: #000000; MARGIN: 0px; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-DARKSHADOW-COLOR: #f1f1f1
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
A {
	TEXT-DECORATION: none; COLOR: #6666cc
}
A:visited {
	TEXT-DECORATION: none; COLOR: #6666cc
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.minibuttonOn {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #000000
}
.minibuttonOn A {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #000000
}
.minibuttonOn A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #000000
}
.minibuttonOn A:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #000000
}
.minibuttonOn A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #000000
}
.minibuttonOff {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #999999
}
.minibuttonOff A {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #999999
}
.minibuttonOff A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #999999
}
.minibuttonOff A:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #999999
}
.minibuttonOff A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; COLOR: #999999
}
.List {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.List .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.List .AppletTitle {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .AppletTitle A {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .AppletTitle A:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .AppletTitle A:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .AppletTitle A:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .AppletBack {
	
}
.List .AppletBorder {
	
}
.List .AppletButtons {
	COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
.List .PageInfo {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; COLOR: #ffffff
}
.List .TableBorder {
	BACKGROUND-COLOR: #333399
}
.List .Header {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; COLOR: black; FONT: bold 9pt arial; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f0f0f0
}
.List TR.listRowOff TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #ffffff
}
.List TR.listRowOn TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #efef99
}
.List_Detail {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.List_Detail .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.List_Detail .AppletTitle {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399; BACKGROUND-COLOR: #ccccff
}
.List_Detail .AppletTitle A {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399; BACKGROUND-COLOR: #ccccff
}
.List_Detail .AppletTitle A:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399; BACKGROUND-COLOR: #ccccff
}
.List_Detail .AppletTitle A:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399; BACKGROUND-COLOR: #ccccff
}
.List_Detail .AppletTitle A:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399; BACKGROUND-COLOR: #ccccff
}
.List_Detail .AppletBack {
	
}
.List_Detail .AppletBorder {
	
}
.List_Detail .AppletButtons {
	COLOR: #000000; BACKGROUND-COLOR: #ccccff
}
.List_Detail .PageInfo {
	
}
.List_Detail .TableBorder {
	BACKGROUND-COLOR: #dedede
}
.List_Detail .Header {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; COLOR: black; FONT: bold 9pt arial; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f0f0f0
}
.List_Detail TR.listRowOff TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #ffffff
}
.List_Detail TR.listRowOn TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #efef99
}
.List_Corp {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.List_Corp .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.List_Corp .AppletTitle {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletTitle A {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletTitle A:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletTitle A:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletTitle A:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletBack {
	BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .AppletBorder {
	
}
.List_Corp .AppletButtons {
	COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .PageInfo {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #4f5fb1
}
.List_Corp .TableBorder {
	BACKGROUND-COLOR: #bec4e3
}
.List_Corp .Header {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; COLOR: black; FONT: bold 9pt arial; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f0f0f0
}
.List_Corp TR.listRowOff TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #ffffff
}
.List_Corp TR.listRowOn TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #efef99
}
.List_TIC {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletBlank {
	LINE-HEIGHT: 40px; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletTitle {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletTitle A {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletTitle A:link {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletTitle A:visited {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletTitle A:hover {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletBack {
	BACKGROUND-COLOR: #ffffff
}
.List_TIC .AppletBorder {
	
}
.List_TIC .AppletButtons {
	COLOR: #ffffff; BACKGROUND-COLOR: #d1f9d0
}
.List_TIC .PageInfo {
	FONT-SIZE: 12px; COLOR: #000000
}
.List_TIC .TableBorder {
	
}
.List_TIC .Header {
	FONT-WEIGHT: normal; COLOR: #787676; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #f0f0f0
}
.List_TIC TR.listRowOff TD.Row {
	LINE-HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.List_TIC TR.listRowOn TD.Row {
	LINE-HEIGHT: 20px; BACKGROUND-COLOR: #efef99
}
.List_STD {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.List_STD .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.List_STD .AppletTitle {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletTitle A {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletTitle A:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletTitle A:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletTitle A:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletBack {
	BACKGROUND-COLOR: #4f5fb1
}
.List_STD .AppletBorder {
	
}
.List_STD .AppletButtons {
	HEIGHT: 26px; COLOR: #ffffff; BACKGROUND-COLOR: #dae3f2
}
.List_STD .PageInfo {
	FONT-SIZE: 12px; COLOR: #124973; BACKGROUND-COLOR: #dae3f2
}
.List_STD .TableBorder {
	BACKGROUND-COLOR: #bcc1de
}
.List_STD .Header {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; COLOR: black; FONT: bold 9pt arial; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f0f0f0
}
.List_STD TR.listRowOff TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #ffffff
}
.List_STD TR.listRowOn TD.Row {
	CURSOR: default; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: silver 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: silver 1px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #efef99
}
.List_STD .minibuttonOn {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOn A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOn A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOn A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOn A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOff {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOff A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOff A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOff A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.List_STD .minibuttonOff A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff
}
.Calendar {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.Calendar .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.Calendar .AppletTitle {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.Calendar .AppletTitle A {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.Calendar .AppletTitle A:link {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.Calendar .AppletTitle A:visited {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.Calendar .AppletTitle A:hover {
	FONT-SIZE: 10pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.Calendar .AppletBack {
	BACKGROUND-COLOR: #bdc2d5
}
.Calendar .AppletBorder {
	
}
.Calendar .AppletButtons {
	
}
.Calendar .PageInfo {
	
}
.Calendar .TableBorder {
	
}
.Calendar .Header {
	CURSOR: default; HEIGHT: 19px; COLOR: black; FONT: bold 12pt arial; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f0f0f0
}
.Calendar TR.Cell {
	HEIGHT: 40px; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #ffffff
}
.Calendar TR.Cell TD.ShiftOFF {
	BACKGROUND-COLOR: #ffcaca
}
.Calendar TR.Cell TD.Schedule {
	BACKGROUND-COLOR: #bfe9ab
}
.Calendar TR.listRow {
	BACKGROUND-COLOR: #ffffff
}
.Form_Small {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.Form_Small .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.Form_Small .AppletTitle {
	FONT-SIZE: 11pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.Form_Small .AppletTitle A {
	FONT-SIZE: 11pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.Form_Small .AppletTitle A:link {
	FONT-SIZE: 11pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.Form_Small .AppletTitle A:visited {
	FONT-SIZE: 11pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.Form_Small .AppletTitle A:hover {
	FONT-SIZE: 11pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.Form_Small .FormLine {
	BACKGROUND-COLOR: #bec4e3
}
.Form_Small .FormBorder {
	
}
.Form_Small .FormLabel {
	FONT-SIZE: 9pt; FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.Form_Small .FormField {
	FONT-SIZE: 9pt; FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.Form_Small_STD {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.Form_Small_STD .AppletBlank {
	COLOR: #0000ff; BACKGROUND-COLOR: #ffffcd
}
.Form_Small_STD .AppletTitle {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000000
}
.Form_Small_STD .AppletTitle A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000000
}
.Form_Small_STD .AppletTitle A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000000
}
.Form_Small_STD .AppletTitle A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000000
}
.Form_Small_STD .AppletTitle A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #000000
}
.Form_Small_STD .AppletTitleDesc {
	FONT-SIZE: 16px; TEXT-DECORATION: none; COLOR: #0000ff
}
.Form_Small_STD .FormLine {
	BACKGROUND-COLOR: #bec4e3
}
.Form_Small_STD .FormBorder {
	
}
.Form_Small_STD .FormLabel {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.Form_Small_STD .FormField {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletBlank {
	BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletTitle {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletTitle A {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletTitle A:link {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletTitle A:visited {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .AppletTitle A:hover {
	FONT-SIZE: 15pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #8d8a8a; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .FormLine {
	BACKGROUND-IMAGE: url(/images/quadDot.gif)
}
.Form_Small_TIC .FormBorder {
	
}
.Form_Small_TIC .FormLabel {
	FONT-SIZE: 12pt; FONT-WEIGHT: normal; COLOR: #314296; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.Form_Small_TIC .FormField {
	FONT-SIZE: 9pt; FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.FormBig TD.TabOn {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #ccccff
}
.FormBig TD.TabOn A {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #ccccff
}
.FormBig TD.TabOn A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #ccccff
}
.FormBig TD.TabOn A:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #ccccff
}
.FormBig TD.TabOn A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #ccccff
}
.FormBig TD.TabOff {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.FormBig TD.TabOff A {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.FormBig TD.TabOff A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.FormBig TD.TabOff A:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.FormBig TD.TabOff A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #333399
}
.FormBig {
	BACKGROUND-COLOR: #ffffff
}
.FormBig .AppletButtons {
	COLOR: #000000; BACKGROUND-COLOR: #8795dd
}
.FormBig .AppletBorder {
	BORDER-TOP: #8795dd 2px solid; BORDER-RIGHT: #8795dd 2px solid; BORDER-BOTTOM: #8795dd 2px solid; BORDER-LEFT: #8795dd 2px solid
}
.FormBig .AppletBack {
	BACKGROUND-COLOR: #f0f0f0
}
.FormBig .FormBorder {
	
}
.FormBig .FormLabel {
	TEXT-DECORATION: none; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #000000; MARGIN: 2px 0px 0px
}
.FormBig .FormLabel A {
	TEXT-DECORATION: none; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #000000; MARGIN: 2px 0px 0px
}
.FormBig .FormLabel A:visited {
	TEXT-DECORATION: none; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #000000; MARGIN: 2px 0px 0px
}
.FormBig .FormLabel A:hover {
	TEXT-DECORATION: none; VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #000000; MARGIN: 2px 0px 0px
}
.FormBig .FormField {
	FONT-SIZE: 9pt; FONT-WEIGHT: normal; COLOR: #000000
}
.Block .BlockBack {
	BACKGROUND-COLOR: #8795dd
}
.Block .BlockTitle {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.Block .BlockBlank {
	BACKGROUND-COLOR: #ffffff
}
.Block .ListItem {
	FONT-SIZE: 11px; COLOR: #4f5fb1
}
.Result .BlockBack {
	BACKGROUND-COLOR: #dcb558
}
.Result .BlockTitle {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.Result .BlockBlank {
	BACKGROUND-COLOR: #ffffff
}
.Result .ListItem {
	FONT-SIZE: 11px; COLOR: #4f5fb1
}
.TICMenu .BlockBack {
	BACKGROUND-COLOR: #c5c3c4
}
.TICMenu .BlockTitle {
	FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #344299
}
.TICMenu .BlockBlank {
	BACKGROUND-COLOR: #f2f2fc
}
.TICMenu .ListItem {
	FONT-SIZE: 10pt; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #f2f2fc
}
.Menu .BlockBack {
	BACKGROUND-COLOR: #8795dd
}
.Menu .BlockTitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff
}
.Menu .BlockBlank {
	BACKGROUND-COLOR: #ffffff
}
.Menu .ListItem {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6666cc
}
.NewsArea .AppletTitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #92d970
}
.NewsArea .ListItem {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #6666cc
}
.MemberArea .Welcome {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #777777
}
.MemberArea .UserName {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #fd6601
}
.MemberArea .Region {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #3a4a8d
}
.MemberArea .ListItem {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #6666cc
}
.LocalArea .AppletTitle {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #9c690c
}
.LocalArea .ListItem {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #000099
}
.pagecaption {
	FONT-SIZE: 22px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-WEIGHT: bold; COLOR: #3a4a8d
}
.PageTitleName {
	FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; VERTICAL-ALIGN: bottom; FONT-WEIGHT: bold; COLOR: #3b4a8d
}
.PageMessageBar {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold; COLOR: #ff4500
}
.PageTitle {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif; FONT-WEIGHT: bold; COLOR: #3a4a8d; BACKGROUND-COLOR: #ffffff
}
.PageThreadBar {
	FONT-SIZE: 7pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif; COLOR: #3a4a8d; BACKGROUND-COLOR: #ffffff
}
.PageText {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
.PRSN .BlockBack {
	BACKGROUND-COLOR: #ffffff
}
.PRSN .BlockBorder {
	BORDER-TOP: #8795dd 1px solid; BORDER-RIGHT: #8795dd 1px solid; BORDER-BOTTOM: #8795dd 1px solid; BORDER-LEFT: #8795dd 1px solid; BACKGROUND-COLOR: #ffffff
}
.PRSN .Blocklegend {
	VERTICAL-ALIGN: top; FONT-WEIGHT: bold; COLOR: #4b65f5; MARGIN: 2px 0px 0px
}
.PRSN .BlockLabel {
	VERTICAL-ALIGN: top; FONT-WEIGHT: bold; TEXT-ALIGN: right; MARGIN: 2px 0px 0px
}
.PRSN .BlockField {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left; MARGIN: 2px 0px 0px
}
.indents {
	BORDER-TOP: #ff0000 1px dotted; BORDER-RIGHT: #ff0000 1px dotted; BORDER-BOTTOM: #ff0000 1px dotted; BORDER-LEFT: #ff0000 1px dotted; LINE-HEIGHT: 13pt
}
.indents_blue {
	BORDER-TOP: #6666cc 1px dotted; BORDER-RIGHT: #6666cc 1px dotted; BORDER-BOTTOM: #6666cc 1px dotted; BORDER-LEFT: #6666cc 1px dotted; LINE-HEIGHT: 13pt
}
INPUT.buttonface {
	FONT-SIZE: 9pt; BORDER-TOP: black 1px solid; HEIGHT: 18px; BORDER-RIGHT: black 1px solid; FONT-VARIANT: normal; BACKGROUND: #ff9900; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; COLOR: #ffffff; FONT-STYLE: normal; BORDER-LEFT: black 1px solid; LINE-HEIGHT: normal
}
INPUT.smallInput {
	FONT-SIZE: 9pt; BORDER-TOP: black 1px solid; HEIGHT: 18px; BORDER-RIGHT: black 1px solid; FONT-VARIANT: normal; BORDER-BOTTOM: black 1px solid; FONT-WEIGHT: normal; FONT-STYLE: normal; BORDER-LEFT: black 1px solid; LINE-HEIGHT: normal
}
